body {
    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #3a8f3a;
    border: 4px solid #000;
}
